@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation

<AuthorizeView>
	<Authorized>
		<a href="Identity/Account/Manage">你好，@context.User.Identity.Name!</a>
		<form action="/Identity/Account/Logout?returnUrl=%2F" method="post">
			<button type="submit" class="nav-link btn btn-link">登出</button>	
		</form>
	</Authorized>
	<NotAuthorized>
		<a href="Identity/Account/Register">注册</a>
		<a href="Identity/Account/Login">登录</a>
	</NotAuthorized>
</AuthorizeView>
@code {
	 
}
