@page "/cashier_console"
<h3>用户工作台</h3>
<br/>
<div class="row">
	<div class="col-4">
		<SelectProductForSellingComponent></SelectProductForSellingComponent>
	</div>
	<div class="col">
		占位符
	</div>
</div>
@code {

}
